{% extends "base.html" %}
{% load static i18n %}
{% block content %}


<div class="video-background">
    <div class="video-wrap">
        <div id="video">
            <video id="bgvid" autoplay loop muted playsinline>
                <source src="{% static 'images/stars.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<div class="caption text-center">
    <h1>BOOTSTRAP VIDEO LANDING</h1>
    <h3>BOOTSTRAP THEME</h3>
    <div class="btn btn-outline-light btn-lg" href="#">GET STARTED</div>
</div>


<div id="course" class="offset">
    <div class="col-12 narrow text-center">
        <h1>Advance Web Development</h1>
        <p class="lead">frelance with professional qualifications in web development - need to build out this section
        </p>
        <a href="#" class="btn btn-secondary btn-medium" target="_blank">My Profile</a>
    </div>
</div>

<div id="features" class="offset">
    <div class="jumbotron">
        <div class="narrow">

        </div>

    </div>

</div>




{% endblock content %}